<section id="over-elem" class="overlayClose hidden" onclick="overBoxClose()">
    <div id='over-box' class="hidden overlayClose" onclick="stopBubble(event)">
        <div>
            <div class="main-text">
                UPLOAD TOOLS
                <div class="line"></div>
            </div>
            <div id='over-grid-input' class="flex column between">
                <div>
                    <div class="sub-text">
                        MASK
                    </div>
                    <form onsubmit="sendLinkMask(); return false;">
                        <input size="400" id="linkMask">
                        <input type="submit" value="SEND LINK">
                    </form>
                    <div class="butt" onclick="uploadMask();">
                        UPLOAD MASK
                    </div>
                </div>
                <div class="sub-text st-input"><div class="line"></div></div>
                <div>
                    <div class="sub-text">
                        IMAGE
                    </div>
                    <form onsubmit="sendLinkImg(); return false;">
                        <input size="400" id="linkImg">
                        <input type="submit" value="SEND LINK">
                    </form>
                    <div class="butt" onclick="uploadImg();">
                        UPLOAD IMAGE
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<form method="post" accept-charset="utf-8" name="form1">
    <input name="file" id='f-file' type="hidden"/>
    <input name="type" id="f-type" type="hidden">
    <input name="login" id="f-login" type="hidden">
</form>


<div class="main-text">
    <div class="container">
        CAM
        <div class="progress" id="progress-cam">
            <div class="determinate width100"></div>
        </div>
    </div>
</div>
<video id="video" autoplay></video>
<div id="cam">
    <div class="container">
        <div id="overlay-canvas">
            <p id="errText"></p>
            <canvas id="canvas"></canvas>
        </div>
        <div id="previews">
            <p>PREVIEW</p>
        </div>
        <input type="hidden" value="0" id="img_resize">
        <div id="effects-block">
            <div id="effects">

            </div>
            <div id="eff-control">
                <p>ROTATE</p><p>RESIZE</p>
                <input type="range" name="rotate" min="-90" max="90" id="rotat" style="margin-right: .5%">
                <input type="range" name="resize" value="0" min="-90" max="180" id="resize" style="margin-left: .5%">
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div id="control">
        <div class="butt"  onclick="clearEffect()">
            CLEAR
        </div>
        <div class="butt" id="uploadButt" onclick="overBoxOpen()">
            UPLOAD TOOLS
        </div>
        <div class="butt" id="snap"  onclick="saveImage()">
            SAVE
        </div>

    </div>
</div>

