<section id="overlay-main" class="overlayClose hidden">
    <div id='overlay-content' onclick="stopBubble(event)">
        <div class="img">
            <img id="image-full" alt="image-content">
        </div>
        <div id="author-block">
            <div>
                <div>
                    <i id="like-button" class="material-icons">favorite_border</i>
                    <div id="like-counter"></div>

                </div>
                <div id="chat-button">
                    <i class="material-icons">forum</i>
                    <div id="chat-counter"></div>
                </div>
            </div>
            <div id="author-button">
                <img alt="ava">
                <div></div>
            </div>
        </div>
        <div id="comment-block" class="none comm-hidden">
            <div class="line"></div>
            <div id="add-comment">
                <form action="javascript:addComment();">
                    <textarea></textarea>
                    <input type="submit" value="ADD COMMENT">
                </form>
            </div>
            <div class="small-line">
                <div class="line"></div>
            </div>
            <div id="comment-list">
            </div>
        </div>
        <div id="endofdiv" class="none"></div>
    </div>
</section>
<div class="main-text">
    <div class="container">
        FEATURED PHOTOS
        <div class="progress" id="progress-f">
            <div class="determinate width100"></div>
        </div>
    </div>
</div>

<div id="fPhotos" class="container wide-container">

</div>
<div class="main-text">
    <div class="container">
        LAST ADDED PHOTOS
        <div class="progress" id="progress-la">
            <div class="determinate width100"></div>
        </div>
    </div>
</div>
<div id="laPhotos" class="container wide-container">

</div>
<div id="butt-next">
    <div class="container">
    </div>
</div>