<div class="main-text">
    <div class="container">
        PROFILE
        <div class="line"></div>
    </div>
</div>
<div class="container">
    <div id="p-authorBlock">
        <div id="p-author">
            <img>
            <div></div>
        </div>
        <div id="p-butts">
            <div class="p-butt">
                CHANGE PASS
            </div>
            <div class="p-butt" onclick="uploadAva()">
                CHANGE AVA
            </div>
        </div>
    </div>
    <div class="progress" id="progress-my">
        <div class="determinate width100"></div>
    </div>
</div>
<div id="myPhotos" class="container wide-container">
</div>
<div id="butt-next">
    <div class="container">
    </div>
</div>

