<div class="container flex" id="signFlex">
    <div>
        <div class="top-align">
            <h1>RESTORE PASS</h1>
            <div class="line"></div>
        </div>
        <form onsubmit="restoreProccPh2(); return false;" id="restorePh2Form" class="signForm">
            <h3>New pass:</h3>
            <input size="70" type="password" name="pass1">
            <h3>Confirm new pass:</h3>
            <input size="70" type="password" name="pass2">
            <input type="submit" value="RESTORE">
        </form>
    </div>
    <div>
        <div class="top-align">
            <h1>OTHER</h1>
            <div class="line"></div>
        </div>
        <div class="butt logBtn" onclick="Router.navigate('login')">LOG IN</div>
        <div class="butt logBtn" onclick="Router.navigate('signup')">SIGN UP</div>
    </div>
</div>