<div class="container flex" id="signFlex">
    <div>
        <div class="top-align">
            <h1>REGISTRATION</h1>
            <div class="line"></div>
        </div>
        <form onsubmit="regProcc(); return false;" oninput="formRegCheck(this);" id="regForm" class="signForm">
            <div>
                <h3>Login:</h3>
                <h4></h4>
            </div>
            <input size="70" type="text" name="login" oninput="loginCheck(this)">
            <div>
                <h3>Email:</h3>
                <h4></h4>
            </div>
            <input size="70" type="email" name="email" oninput="emailCheck(this)">
            <div>
                <h3>Password:</h3>
                <h4></h4>
            </div>
            <input size="70" type="password" name="pass1" oninput="passCheck(this)">
            <div>
                <h3>Repeat password:</h3>
                <h4></h4>
            </div>
            <input size="70" type="password" name="pass2" oninput="pass2Check(this)">
            <input type="submit" value="SIGN UP" class="inactiveButt" disabled>
        </form>
    </div>
    <div>
        <div class="top-align">
            <h1>OTHER</h1>
            <div class="line"></div>
        </div>
        <form onsubmit="restoreProcc(); return false;" id="restoreForm" class="signForm none">
            <h3>Login or email:</h3>
            <input size="70" type="text" name="user">
            <input type="submit" value="RESTORE">
        </form>
        <div id="restButt" class="butt logBtn" onclick="openRestore();">RESTORE PASS</div>
        <div class="butt logBtn" onclick="Router.navigate('login')">LOG IN</div>
    </div>
</div>