#cam {
    width: 100%;
}

button {
    border:none;
    background-color: inherit;
}

canvas {
    width: 100%;
    z-index: 1;
}

#eff-control > input {
    width: 49.5%;
}

#eff-control > p {
    width: 50%;
    color: #816d65;
    font-size: 16px;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 8px;
}

#eff-control {
    flex-wrap: wrap;
    display: none;
    width: 100%;
    justify-content: space-between;
}

#previews {
    width: 33%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #816d65;
    color: #816d65;
    overflow-y:scroll;
}

#previews::-webkit-scrollbar {
    display: none;
}

#previews, #video, #control, #overlay-canvas {
    margin: 15px 0;
}

#video, #overlay-canvas {
    width: 66%;
}

#video {
    visibility: hidden;
    position: absolute;
}

#canvas1, #canvas2, #canvas3, #canvas4 {
    width: 100%;
}
#canvas3, #canvas4 {
    display: none;
}

#effects img {
    /*width: 100%;*/
    /*height: 100%;*/
}

.effect, #previews, .butt, #canvas  {
    border-radius: 2px;
}

.effect {
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 19.5%;
    background-color: #999999;
    height: 100%;
    display: inline-flex;
}

.effect > img {
    margin: auto;
    height: 100%;
}

.effect > p {
    margin: auto;
    color: #f6f4f1;
    font-size: 24px;
}

.effect:hover {
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);
}

#effects-block {
    width: 100%;
}

#effects {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 7.5vw;
    max-height: 145px;
}

#control {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 80px;
    margin-bottom: 45px;
}

.butt {
    display: inline-block;
    width: 33%;
    line-height: 80px;
    text-align: center;
    cursor: pointer;

    font-size: 23px;
    letter-spacing: 4px;

    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;

    box-sizing: border-box;
    border: 1px solid #816d65;
    color: #816d65;
}

.butt:hover {
    background-color: #816d65;
    color: #f6f4f1;
    letter-spacing: 5px;
}

#previews p {
    margin: 1% 0 0 1%;
    font-size: 20px;
    position: absolute;
}

#over-grid-input {
    height: 100%;
    width: 100%;
    margin: 20px 0 50px 0;
}

#overlay-canvas {
    cursor: pointer;
    z-index: 1;
    color: #f6f4f1;
}

#overlay-canvas p {
    font-size: 35px;
    position: absolute;
    margin: 0 2% 0 2%;
    z-index: 0;
    display: block;
}

.st-input .line {
    margin: 30px auto;
}




/*UPLOAD TOOLS*/


#over-elem {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:100;
    cursor: pointer;
}

#over-box {
    position: absolute;
    width:50%;
    background-color: white;
    top:25%;
    left:25%;
    opacity: 1;
    z-index:100;
    border-radius: 3px;
    color: #816d65;
}

#over-box p {
    text-align: center;
    color: #777777;
    margin: 2px 0;
}

#over-box > div {
    width: 90%;
    margin: 2% auto;
}

#over-box .butt {
    margin-top: 10px;
    width: 100%;
    letter-spacing: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

#over-box .butt:hover {
    letter-spacing: 7px;
}

#canvas {
    margin-bottom: -5px;
}


form {
    display: flex;
    justify-content: space-between;
}

form > input {
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 78%;
    border: 1px solid #816d65;
    box-sizing: border-box;
    font-size: 16px;
    color: #816d65;
}

form > input[type='submit'] {
    width: 20%;
    display: inline-block;
    text-align: center;
    cursor: pointer;


    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    font-size: 16px;

    background-color: inherit;
    color: #816d65;
    letter-spacing: 2px;
}




form > input[type='submit']:hover {
    background-color: #816d65;
    color: white;
    letter-spacing: 4px;
}



/*INPUT RANGE*/
input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 50%;
    height: 8px;
    background-color: #999999;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
    background-image: -webkit-linear-gradient(#473e4f, #51475a);
    background-image: -moz-linear-gradient(#473e4f, #51475a);
    background-image: -o-linear-gradient(#473e4f, #51475a);
    background-image: linear-gradient(#9e6957, #9e6957);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-focus-outer {
    border: 0;
}

input[type=range]::-webkit-slider-thumb {
    width: 17px;
    height: 17px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    -webkit-appearance: none;
}

input[type=range]::-moz-range-thumb {
    width: 17px;
    height: 17px;
    border: 0;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
}


@media (max-width: 992px) {
    input[type=range] {
        height: 6px;
    }
    input[type=range]::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
    }
    input[type=range]::-moz-range-thumb {
        width: 14px;
        height: 14px;
    }
}



/*MEDIA*/

@media (max-width: 1920px) {
    #overlay-canvas p {
        font-size: 1.7vw;
    }
    .effect > p {
        font-size: 1.2vw;
    }
    #over-box .butt {
        font-size: .95vw;
    }
    form > input {
        width: 68%;
        font-size: .95vw;
    }

    form > input[type='submit'] {
        width: 30%;
        font-size: .95vw;
    }
}

@media (max-width: 992px) {
    #previews {
        width: 19.88%;
    }
    #previews, #video, #overlay-canvas {
        margin: 10px 0;
    }
    #video, #overlay-canvas {
        width: 79.5%;
    }
    #canvas3, #canvas4 {
        display: block;
    }
    #overlay-canvas p {
        font-size: 2.4vw;
    }
    #effects {
        height: 10vw;
    }
    .effect > p {
        line-height: 10vw;
        font-size: 1.4vw;
    }
    .butt {
        font-size: 15px;
        letter-spacing: 3px;
        line-height: 60px;
    }
    .butt:hover {
        letter-spacing: 4px;
    }
    #control {
        height: 60px;
    }
    #over-box .butt {
        font-size: 13px;
    }
    #over-box {
        top:20%;
        left:15%;
        width:70%;
    }
    form > input {
        width: 68%;
        font-size: 13px;
    }

    form > input[type='submit'] {
        width: 30%;
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    #previews {
        flex-direction: row;
        width: 100%;
    }
    #canvas1, #canvas2, #canvas3, #canvas4 {
        width: 24.5%;
        height: 17vw;
    }
    #previews, #video, #overlay-canvas {
        margin: 5px 0;
    }
    #video, #overlay-canvas {
        width: 100%;
    }
    #effects {
        height: 12vw;
    }
    .effect > p {
        font-size: 1.5vw;
    }
    #control {
        height: 50px;
    }
    .butt {
        line-height: 50px;
    }
    .butt:hover {
        letter-spacing: 0;
    }
    #overlay-canvas p {
        font-size: 3vw;
    }
    #previews {
        height: 0;
    }
    .effect, #previews, #canvas  {
        border-radius: 0;
    }
    .butt {
        font-size: 12px;
        letter-spacing: 0;
        line-height: 50px;
    }
    #control {
        height: 50px;
    }
    #over-box .butt {
        font-size: 12px;
    }
    #over-box {
        top:15%;
        left:7.5%;
        width:85%;
    }
    form > input {
        width: 58%;
        font-size: 12px;
    }

    form > input[type='submit'] {
        width: 40%;
        font-size: 12px;
    }
}