
/* Progress Bar */
.progress {
    position: relative;
    height: 3px;
    display: block;
    width: 100%;
    background-color: #bdb1ad;
    border-radius: 2px;
    background-clip: padding-box;
    /*margin: 0.5rem 0 1rem 0;*/
    margin-top: 10px;
    overflow: hidden; }
.progress .determinate {
    position: absolute;
    background-color: inherit;
    top: 0;
    bottom: 0;
    background-color: #816d65;
    transition: width .3s linear; }
.progress .indeterminate {
    background-color: #816d65; }
.progress .indeterminate:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
.progress .indeterminate:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s; }

.width100 {
    width: 100%
}
.width0 {
    width: 0%
}

#progress-all {
    margin-top: 0;
    border-radius: 0;
    margin-bottom: -1px;
    z-index: 1;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%; }
    60% {
        left: 100%;
        right: -90%; }
    100% {
        left: 100%;
        right: -90%; } }
@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }
@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%; }
    60% {
        left: 107%;
        right: -8%; }
    100% {
        left: 107%;
        right: -8%; } }















/*FORM*/

form {
    display: flex;
    justify-content: space-between;
}

form > input {
    height: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 78%;
    border: 1px solid #816d65;
    box-sizing: border-box;
    font-size: 16px;
    color: #816d65;
}

form > input[type='submit'] {
    width: 20%;
    display: inline-block;
    text-align: center;
    cursor: pointer;


    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    font-size: 16px;

    background-color: inherit;
    border-radius: 1px;
    color: #816d65;
    letter-spacing: 2px;
}




form > input[type='submit']:hover {
    background-color: #816d65;
    color: white;
    letter-spacing: 4px;
}




/* ---=== COMMON ===---  */



html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Play','Saira Extra Condensed', 'Roboto', sans-serif;
    min-width: 300px;
    overflow-y: scroll;
}

#content {
    background-color: #f6f4f1;
    flex: 1;
}


nav, .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1vw auto;
    width: 1344px;
}

.wide-container {
    width: 1372px;
}


.container {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}

/*HEADER*/

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
    color: #816d65;
    height: 64px;
}

header .material-icons {
    font-size: 25px;
}

nav {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}

#navigation {
    letter-spacing: 2px;
    display: inline-block;
    height: inherit;
    text-align: center;
    font-size: 0;
}

#navigation > a {
    display: inline-block;
    height: inherit;
    font-size: 18px;
    padding: 0 20px;
    margin: 0 -1px;
    border: 0;
    text-decoration: none;
    line-height: 64px;
    color: inherit;
    transition: all 0.3s ease;
}

#navigation > div {
    font-size: 18px;
    padding: 5px 20px;
    margin: 15px -1px 0 10px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    display: inline-block;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #bdb1ad;
    border-radius: 2px;
}

#navigation > a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #816d65 solid;
    background-color: #bdb1ad;
    cursor: pointer;
    color: #fff
}

#navigation > .active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #816d65 solid;
}

#navigation > div {
    cursor: pointer;
}

#navigation > div:hover {
    border: 1px solid #816d65;
    background-color: #816d65;
    color: #fff
}

#logo {
    display: inline-block;
    height: inherit;
    line-height: 92px;
    width: 185px;
    cursor: pointer;
}

#logo > img {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    z-index: 100;
}


.nav-btn {
    float: left;
    position: absolute;
    font-size: 40px;
    height: inherit;
}

#open-btn {
    display: none;
}


/*PHOTO*/

#laPhotos, #myPhotos, #fPhotos {
    justify-content: flex-start;
}

.photo {
    overflow: hidden;
}

.photo > .likes {
    visibility: hidden;
    opacity: 0;
    position: relative;
    background: white;
    margin: -28px 0 0 -10px;
    z-index: 3;
    transition: visibility 0s, opacity .3s ease;
    height: 100px;
    text-align: center;
    width: 105%;
    padding: 3px 0;
}

.photo i {
    display: inline-block;
    font-size: 15px;
    margin: 0 0 2px 5px;
    color:#ef5350;
}

.photo {
    width: 31%;
    height: 234px;
    margin: 1.167%;

    cursor: pointer;
    border-radius: 2px;
    background-color: #ff936f;
    transition: all 0.3s ease;
}

.photo:hover {
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);
}

.photo:hover > .likes {
    visibility: visible;
    opacity: .6;
}

.photo > img {
    width: 100%;
    height: 100%;
}




/*
FOOTER
*/

footer {
    color: #f6f4f1;
    padding: 0;
    margin: 0;
}

#foot, #author {
    width: 100%;
}

#foot {
    background-color: #bdb1ad;
}

#author > .container {
    line-height: 64px;
    font-size: 13px;
}

#author {
    height: 64px;
    background-color: #816d65;
}

footer .container {
    margin: auto;
}

.column {
    width: 50%;
}

#foot .container {
    padding-bottom: 20px;
}

.social {
    width: 20%;
    display: inline-block;
}

.social > img {
    width: 100%;
    cursor: pointer;
}




/*BASIC*/

.s1 {
    width: 8.33333333%;
}

.s2 {
    width: 16.6666666%;
}

.s3 {
    width: 25%;
}

.s4 {
    width: 33.33333333%;
}

.s5 {
    width: 41.66666666%;
}

.s6 {
    width: 50%;
}

.s7 {
    width: 58.33333333%;
}

.s8 {
    width: 66.66666666%;
}

.s9 {
    width: 75%;
}

.s10 {
    width: 83.333333333%;
}

.s11 {
    width: 91.666666666%;
}

.s12 {
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.noscroll {
    overflow: hidden;
}

.noscroll15 {
    padding-right: 15px;
}

.none {
    display: none !important;
}

/**
main-text
*/

.main-text {
    color: #816d65;
    font-size: 35px;
    letter-spacing: 2px;
}

.main-text > .container {
    padding: 30px 0 20px 0;
}


.main-text .line {
    height: 3px;
    width: 100%;
    background-color: #816d65;
    border-radius: 1px;
    margin-top: 10px;
}

/**
sub-text
 */
.sub-text {
    text-align: center;
    color: #816d65;
    font-size: 20px;
    margin: 10px 0 10px 0;

}

.sub-text .line {
    height: 2px;
    width: 60%;
    background-color: #816d65;
    border-radius: 1px;
    margin: 10px auto;
}




/**
butt-next
 */
#butt-next > .container {
    color: #816d65;
    font-size: 25px;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.butt-next-button {
    cursor: pointer;
    text-align: center;
    width: 50%;
    padding: 7px 0;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #816d65;
}

.butt-next-button:hover {
    background-color: #816d65;
    color: #f6f4f1;
}



img {
    pointer-events: none;
}


.evnone {
    pointer-events:none;
}

/**
MEDIA
 */
@media (max-width: 1920px) {
    #slider, nav, .container {
        width: 70%;
    }
    .wide-container {
        width: 71.47%;
    }
    .photo {
        height: 12.21vw;
    }
    form > input {
        width: 68%;
        font-size: .95vw;
    }

    form > input[type='submit'] {
        width: 30%;
        /*font-size: .95vw;*/
    }
}

@media (min-width: 992px) and (max-width: 1150px) {
    #navigation > a {
        font-size: 18px;
        padding: 0 10px;
    }

}

@media (max-width: 992px) {
    form > input {
        width: 68%;
        font-size: 13px;
    }

    form > input[type='submit'] {
        width: 30%;
        font-size: 14px;
    }
    .photo:hover > .likes {
       visibility: hidden;
    }
    header .material-icons {
        font-size: 30px;
    }
    header {
        position: fixed;
        width: 100%;
        height: 55px;
        z-index: 6;
    }
    #logo {
        line-height: 80px;
        width: 165px;
    }

    #content {
        margin-top: 55px;
    }
    nav, .container, .wide-container {
        width: 85%;
    }
    .wide-container {
        width: 86.9%;
    }
    .photo {
        height: 22.9vw;
        width: 48%;
        margin: 1%;
    }
    #logo {
        display: block;
        margin: auto;
    }
    #open-btn {
        display: block;
    }
    #navigation {
        display: none;
    }
    #foot .column {
        display: block;
        width: 100%;
    }
    .social {
        width: 9%;
    }
    .main-text > .container {
        justify-content: center;
    }
    .butt-next-button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    form > input {
        width: 58%;
        font-size: 12px;
    }

    form > input[type='submit'] {
        width: 40%;
        font-size: 12px;
    }
    nav, .container, .wide-container {
        width: 90%;
    }
    .wide-container {
        width: 93.6%;
    }
    .photo {
        height: 46.92vw;
        width: 96%;
        margin: 2%;
    }
    .social {
        width: 14%;
    }
    .butt-next-button {
        width: 100%;
    }
}


/*
ICONS
 */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin: 0 5px 3px 0;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

