body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Play','Saira Extra Condensed', 'Roboto', sans-serif;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
    color: #816d65;
    height: 64px;
}



#content {
    background-color: #f6f4f1;
    flex: 1;
}

nav, .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1vw auto;
    width: 1344px;
}

.wide-container {
    width: 1372px;
    padding-top: 10px;
}

nav {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}



.container {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}

.photo {
    width: 31%;
    height: 234px;
    margin: 1%;

    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    background-color: #ff936f;
}

#navigation {
    letter-spacing: 2px;
    display: inline-block;
    height: inherit;
    text-align: center;
    font-size: 0;
}

#navigation > a {
    display: inline-block;
    height: inherit;
    font-size: 18px;
    padding: 0 20px;
    margin: 0 -1px;
    border: 0;
    text-decoration: none;
    line-height: 64px;
    color: inherit;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

/*#navigation > a {*/
    /*font-size: 18px;*/
    /*padding: 5px 20px;*/
    /*margin: 0 -1px;*/
    /*margin-top: 15px;*/
    /*text-decoration: none;*/
    /*color: inherit;*/
    /*-webkit-transition: all 0.3s ease;;*/
    /*-moz-transition: all 0.3s ease;;*/
    /*-o-transition: all 0.3s ease;;*/
    /*transition: all 0.3s ease;*/
    /*display: inline-block;*/
    /*height: 34px;*/
    /*!*line-height: 34px;*!*/
    /*box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*-webkit-box-sizing: border-box;*/
    /*!*margin: up right down left*!*/
/*}*/

#navigation > div {
    font-size: 18px;
    padding: 5px 20px;
    margin: 0 -1px;
    margin-top: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    display: inline-block;
    height: 34px;
    /*line-height: 34px;*/
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #bdb1ad;
    border-radius: 2px;
}

#navigation > a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #816d65 solid;
    background-color: #bdb1ad;
    color: #fff
}

#navigation > div:hover {
    border: 1px solid #816d65;
    background-color: #816d65;
    color: #fff
}

#logo {
    display: inline-block;
    height: inherit;
    line-height: 90px;
    width: 200px;
}

#logo > img {
    /*margin-top: 9px;*/
    display: inline-block;
    width: 100%;
    cursor: pointer;
}


#open-btn {
    float: left;
    position: absolute;
    display: none;
    font-size: 40px;
    height: inherit;

}



/*
FOOTER
*/

footer {
    color: #f6f4f1;
    padding: 0;
    margin: 0;
}

#foot, #author {
    width: 100%;
}

#foot {
    /*height: 150px;*/
    background-color: #bdb1ad;
}

#author {
    height: 64px;
    background-color: #816d65;
}

#foot > .container {
    margin: auto;
}

.column {
    width: 50%;
}

#foot .column {
    /*margin-top: 20px;*/
}





/**
MEDIA
 */
@media (max-width: 1920px) {
    nav, .container {
        width: 70%;
    }
    .wide-container {
        width: 71.47%;
    }
    .photo {
        height: 12.21vw;
    }
}

@media (max-width: 992px) {
    nav, .container, .wide-container {
        width: 85%;
    }
    .photo {
        height: 22.9vw;
        width: 48%;
    }
    #logo {
        display: block;
        margin: auto;
    }
    #open-btn {
        display: block;
    }
    #navigation {
        display: none;
    }
}

@media (max-width: 600px) {
    nav, .container, .wide-container {
        width: 90%;
    }
    .photo {
        height: 46.92vw;
        width: 96%;
        margin: 2%;
    }
    #open-btn {
        margin: -2px 0 0 2%;
    }
}


/*
ICONS
 */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin: 0 5px 3px 0;
    /*margin: up right down left*/

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

