body {
    margin: 0;
    /*font-family: "Apple Braille";*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    background-color: #ffffff;
    height: 77px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
}

footer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    height: 77px;
    background-color: #e0dddc;
}

#content {
    background-color: #f6f4f1;
    flex: 1;
}

#head-block, .container {
    margin: auto;
    width: 1344px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1vw auto;
}

.photo {
    width: 31%;
    height: 250px;
    margin: 1%;

    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    border-radius: 2px;
    background-color: #ff936f;
}

#open-btn {
    float: left;
    position: absolute;
    display: none;
    font-size: 18px;
}

#logo {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

header, footer, #open-btn {
    height: 64px;
}

@media (max-width: 1920px) {
    #head-block, .container {
        width: 70%;
    }
    .photo {
        height: 13vw;
    }
}
@media (max-width: 992px) {
    #head-block, .container {
        width: 85%;
    }
    .photo {
        height: 20vw;
        width: 48%;
    }
    #logo {
        display: block;
        margin: auto;
    }
    #open-btn {
        display: block;
    }
}

@media (max-width: 600px) {
    #head-block, .container {
        width: 90%;
    }
    .photo {
        height: 40vw;
        width: 96%;
        margin: 2%;
    }
}


/*Sidebar*/

.w3-sidebar {
    height:100%;
    width:200px;
    background-color:#fff;
    position:fixed!important;
    z-index:3;
    overflow:auto
}
.w3-bar-block .w3-bar-item {
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    outline:none;
    white-space:normal;
    float:none
}
.w3-border-right{
    border-right:1px solid #ccc!important
}

/*.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}*/
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal;float:none}
.w3-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
/*.w3-large{font-size:18px!important}*/
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}