.signForm {
    width: 100%;
    flex-direction: column;
    border-radius: 2px;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
}

#restoreForm {
    margin-bottom: 24px;
}

#loginForm input, .signForm h3, #restoreForm input, #regForm input {
    width: 50%;
    margin: auto;
    color: #816d65;
}

#loginForm input, #restoreForm input, #regForm input {
    margin: 10px auto;
    background-color: #fff;
}

#loginForm input[type="submit"], #restoreForm input[type="submit"], #regForm input[type="submit"] {
    margin-top: 20px;
    background-color: #816d65;
    color: #fff;
    letter-spacing: 2px;
}

#loginForm input[type="submit"]:hover, #restoreForm input[type="submit"]:hover, #regForm input[type="submit"]:hover {
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.2);
    letter-spacing: 2px;
}

.top-align {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.top-align h1 {
    text-align: start;
    font-weight: 300;
}

.top-align .line {
    width: 100%;
    height: 3px;
    background-color: #816d65;
    border-radius: 1px;
    /*margin-right: 10px;*/
    margin-top: 10px;

}

#signFlex > div:first-child {
    width: 59%;
}

#signFlex > div:last-child {
    width: 39%;
}





.logBtn {
    width: 100%;
    margin-bottom: 24px;
    height: 58px;
    line-height: 58px;
    font-size: 20px;
}

























@media (max-width: 1920px) {

}

@media (max-width: 1400px) {
    #loginForm input, .signForm > h3, #restoreForm input, #regForm input {
        width: 60%;
    }
}

@media (max-width: 992px) {
    #signFlex {
        flex-direction: column;
    }
    #signFlex > div:first-child, #signFlex > div:last-child {
        width: 100%;
    }
    #loginForm input, .signForm > h3, #restoreForm input, #regForm input {
        width: 75%;
    }
}

@media (max-width: 600px) {
    #loginForm input, .signForm > h3, #restoreForm input, #regForm input {
        width: 85%;
    }
}

