/*header*/
header > nav {
    vertical-align: top;
}

.logo {
    display: inline-block;
    position: relative;
    background-color: coral;
    color: white;
    /*padding: 1%;*/
    font-size: 1.8vmin;
    border: none;
    cursor: pointer;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.2);
    width: 10%;
    height: 100%;
    margin-right: 11%;
}

/*DROPDOWN*/
.drop {
    width: 10%;
}

.drop, .logo {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.drop:hover .drop-content {
    display: block;
}

.drop-content, .drop-button, .drop-info {
    color: white;
    width: 100%;
}

.drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 1.2vmin;
    z-index: 1;
}

.drop-button {
    padding: 10%;
    font-size: 1.2vmin;
    border: none;
    cursor: pointer;
}

.drop-info {
    text-align: left;
    margin-bottom: 1%;
    padding: 5%;
    font-size: 1vmin;
    border: none;
}


/*CONTENT*/
body {
    min-height: 100%;
    font-family: monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    text-align: center;
}
header {
    position: absolute;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 3vw;
    background-color: bisque;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
#content {
    text-align: center;
    width: 65%;
    height: 100%;
    position: relative;
    margin: auto;
    margin-top: 4.5%;
    z-index: 1;

}

/*FORM*/
#create_input {
    margin: auto;
    position: relative;
    width: 90%;
    height: 10%;
    padding: 5%;
    padding-bottom: 14%;
    background-color: white;
    border-radius: 3px 3px 0 0;
}
#create_input p {
    font-size: 1.4vmin;
}
#create_input input {
    width: 60%;
    height: 10%;
}
#create_form {
    position: relative;
    top: 3%;
}

#create_container {
    margin: auto;
    position: relative;
    width: 41%;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.2);
}
.line {
    margin: auto;
    position: relative;
    background-color: white;
    width: 99%;
    height: .3pc;
    margin-top: 7%;
}

#background {
    margin: auto;
    width: 65%;
    height: 100%;
    left: 17.5%;
    position: fixed;
    background-color: antiquewhite;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}
.inline {
    margin: auto;
    display: inline-block;
    width: 30%;
    font-size: 1.2vmin;
}
.big {
    font-size: 2.0vmin;
    font-weight: 900;
    color: white;
}

/*LABELS*/
#create_label {
    position: relative;
    top: 3%;
    margin: 0;
    font-size: 2.5vmin;
    font-weight: 600;
}
.labe {
    position: relative;
    margin: 0;
    font-size: 2.5vmin;
    font-weight: 600;
    margin-top: 5%;
}

/*BUTTONS*/
.create_button, .button, .inline-button, .button_buy {
    display: block;
    margin: auto;
    width: 100%;
    position: relative;
    border-radius: 0 0 3px 3px;
    border:none;
    font-size: 1.8vmin;
}
.button, .inline-button, .button_buy {
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    margin-top: 7%;
    width: 41%;

    color: white;
    font-size: 1.5vmin;
}
.inline-button {
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    width: 30%;
}
.button_buy {
    display: inline-block;
    margin: auto;
    width: 20%;
}

/*INFO POP UP*/
#popup {
    width: 60%;
    position: relative;
    margin: auto;
    opacity: 0;
    cursor: default;
    z-index: -100;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #ff936f;
    color: white;
    font-size: 1.3vmin;
    margin-top: 5%;
}

#pop:target #popup{
    z-index: 100;
    animation: fadeOut 3s linear forwards;
}
@keyframes fadeOut {
    0%  { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; transform: translateY(0px);}
    99% { opacity: 0; transform: translateY(-30px);}
    100% { opacity: 0; }
}

/*COLORS*/
.invisible {
    z-index: -100;
    background: transparent;
    cursor: none;
}

.green {
    background-color: #4ccd50;
}

.green:hover {
    background-color: #4caf50;
}

.red {
    background-color: #ef5350;
}

.red:hover {
    background-color: red;
}

.coral {
    background-color: coral;
}

.coral-1 {
    background-color: #ff936f;
}

.coral-1:hover {
    background-color: coral;
}