html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Play','Saira Extra Condensed', 'Roboto', sans-serif;
    min-width: 300px;
    overflow: scroll;
}

header {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
    color: #816d65;
    height: 64px;
}

header .material-icons {
    font-size: 25px;
}

/*::-webkit-scrollbar {*/
    /*position: absolute;*/
/*}*/

#content {
    background-color: #f6f4f1;
    flex: 1;
}



#slider, nav, .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1vw auto;
    width: 1344px;
}

.wide-container {
    width: 1372px;
    /*padding-top: 10px;*/
}



.container {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}


/*PHOTO*/

.photo > .likes {
    /*float: right;*/
    visibility: hidden;
    opacity: 0;
    position: relative;
    background: white;
    padding: 0 5px;
    margin: -12% 0 0 86%;
    z-index: 3;
    transition: visibility 0s, opacity .3s ease;
}

.photo i {
    display: inline-block;
    font-size: 15px;
    margin: 0 0 2px 5px;
    color:#ef5350;
}

.photo {
    width: 31%;
    height: 234px;
    margin: 1%;

    cursor: pointer;
    border-radius: 2px;
    background-color: #ff936f;
    transition: all 0.3s ease;
}

.photo:hover {
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,0.4);
}

.photo:hover > .likes {
    visibility: visible;
    opacity: .6;
}

.photo > img {
    width: 100%;
    height: 100%;
}

nav {
    margin: auto;
    height: inherit;
    justify-content: space-between;
}

#navigation {
    letter-spacing: 2px;
    display: inline-block;
    height: inherit;
    text-align: center;
    font-size: 0;
}

#navigation > a {
    display: inline-block;
    height: inherit;
    font-size: 18px;
    padding: 0 20px;
    margin: 0 -1px;
    border: 0;
    text-decoration: none;
    line-height: 64px;
    color: inherit;
    transition: all 0.3s ease;
}

#navigation > div {
    font-size: 18px;
    padding: 5px 20px;
    margin: 0 -1px;
    margin-top: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease;
    display: inline-block;
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #bdb1ad;
    border-radius: 2px;
}

#navigation > a:hover {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #816d65 solid;
    background-color: #bdb1ad;
    color: #fff
}

#navigation > .active {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-bottom: 2px #816d65 solid;
}

#navigation > div:hover {
    border: 1px solid #816d65;
    background-color: #816d65;
    color: #fff
}

#logo {
    display: inline-block;
    height: inherit;
    line-height: 92px;
    width: 185px;
}

#logo > img {
    /*margin-top: 9px;*/
    display: inline-block;
    width: 100%;
    cursor: pointer;
}


.nav-btn {
    float: left;
    position: absolute;
    font-size: 40px;
    height: inherit;
}

#open-btn {
    display: none;
}

.none {
    display: none !important;
}


/*
FOOTER
*/

footer {
    color: #f6f4f1;
    padding: 0;
    margin: 0;
}

#foot, #author {
    width: 100%;
}

#foot {
    background-color: #bdb1ad;
}

#author > .container {
    line-height: 64px;
    font-size: 13px;
}

#author {
    height: 64px;
    background-color: #816d65;
}

footer .container {
    margin: auto;
}

.column {
    width: 50%;
}

#foot .column {
    /*margin-top: 20px;*/
}

#foot .container {
    padding-bottom: 20px;
}

.social {
    width: 20%;
    display: inline-block;
}

.social > img {
    width: 100%;
    cursor: pointer;
}

.s1 {
    width: 8.33333333%;
}

.s2 {
    width: 16.6666666%;
}

.s3 {
    width: 25%;
}

.s4 {
    width: 33.33333333%;
}

.s5 {
    width: 41.66666666%;
}

.s6 {
    width: 50%;
}

.s7 {
    width: 58.33333333%;
}

.s8 {
    width: 66.66666666%;
}

.s9 {
    width: 75%;
}

.s10 {
    width: 83.333333333%;
}

.s11 {
    width: 91.666666666%;
}

.s12 {
    width: 100%;
}

.noscroll { overflow: hidden; }

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.between {
    justify-content: space-between;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*@media (min-device-width: 1025px) {*/
    .noscroll15 {
        padding-right: 15px;
    }
/*}*/

/**
main-text
*/

.main-text {
    /*background-color: #b2a6a2;*/
    /*color: #f6f4f1;*/
    color: #816d65;
    font-size: 35px;
    /*height: 100px;*/

}

.main-text > .container {
    padding: 30px 0 20px 0;
}


.main-text .line {
    height: 3px;
    width: 100%;
    background-color: #816d65;
    border-radius: 1px;
    margin-top: 10px;
}

/**
sub-text
 */
.sub-text {
    /*background-color: #b2a6a2;*/
    /*color: #f6f4f1;*/
    text-align: center;
    color: #816d65;
    font-size: 20px;
    margin: 10px 0 10px 0;
    /*height: 100px;*/

}

.sub-text .line {
    height: 2px;
    width: 60%;
    background-color: #816d65;
    border-radius: 1px;
    margin: 10px auto;
}




/**
butt-next
 */
#butt-next > .container {
    color: #816d65;
    font-size: 25px;
    justify-content: center;
    padding: 20px 0 30px 0;
}

.butt-next-button {
    cursor: pointer;
    text-align: center;
    width: 50%;
    padding: 7px 0;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #816d65;
}

.butt-next-button:hover {
    background-color: #816d65;
    color: #f6f4f1;
}




/**
MEDIA
 */
@media (max-width: 1920px) {
    #slider, nav, .container {
        width: 70%;
    }
    .wide-container {
        width: 71.47%;
    }
    .photo {
        height: 12.21vw;
    }
}

@media (min-width: 1350px) and (max-width: 1600px) {
    .photo > .likes {
        margin: -12% 0 0 83%;
    }
}

@media (min-width: 1150px) and (max-width: 1350px) {
    .photo > .likes {
        margin: -12% 0 0 80%;
    }
}

@media (min-width: 992px) and (max-width: 1150px) {
    #navigation > a {
        font-size: 18px;
        padding: 0 10px;
    }
    .photo > .likes {
        margin: -12% 0 0 77%;
    }

}

@media (max-width: 992px) {
    header .material-icons {
        font-size: 30px;
    }
    header {
        position: fixed;
        width: 100%;
        height: 55px;
    }
    #logo {
        line-height: 80px;
        width: 165px;
    }

    /*::-webkit-scrollbar {*/
    /*position: absolute;*/
    /*}*/

    #content {
        margin-top: 55px;
    }
    #slider, nav, .container, .wide-container {
        width: 85%;
    }
    .wide-container {
        width: 86.9%;
    }
    .photo {
        height: 22.9vw;
        width: 48%;
    }
    #logo {
        display: block;
        margin: auto;
    }
    #open-btn {
        display: block;
    }
    #navigation {
        display: none;
    }
    #foot .column {
        display: block;
        width: 100%;
    }
    .social {
        width: 9%;
    }
    .main-text > .container {
        justify-content: center;
    }
    .butt-next-button {
        width: 100%;
    }
}

@media (max-width: 600px) {
    #slider, nav, .container, .wide-container {
        width: 90%;
    }
    .wide-container {
        width: 93.6%;
    }
    .photo {
        height: 46.92vw;
        width: 96%;
        margin: 2%;
    }
    .social {
        width: 14%;
    }
    .butt-next-button {
        width: 100%;
    }
}


/*
ICONS
 */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin: 0 5px 3px 0;
    /*margin: up right down left*/

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

