#over-elem {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5);
    z-index:100;
    cursor: pointer;
}

#over-box {
    position: absolute;
    width:50%;
    background-color: white;
    top:25%;
    left:25%;
    opacity: 1;
    z-index:100;
    border-radius: 3px;
    color: #816d65;
}

#over-box > div {
    width: 90%;
    margin: 2% auto;
}

#over-box > div {
    width: 90%;
    margin: 2% auto;
}

#overlay-main {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,0.5);
}


#overlay-main > div {
    background-color: white;
    border-radius: 3px;
    color: #816d65;
    margin: 100px 14.85vw;
    transition: all .8s;
    min-height: 100px;
}


@media (max-width: 1920px) {

}

@media (max-width: 992px) {
    #over-box {
        top:20%;
        left:15%;
        width:70%;
    }
    #overlay-main div {
        margin: 100px 7.2vw;
    }
}

@media (max-width: 600px) {
    #over-box {
        top:15%;
        left:7.5%;
        width:85%;
    }
    #overlay-main div {
        margin: 100px 4.8vw;
    }
}
