#overlay-main {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:rgba(0,0,0,0.7);
    z-index: 5;
}


#overlay-main > div {
    display: block;
    position: relative;
    background-color: white;
    border-radius: 3px;
    color: #816d65;
    margin: 100px auto;
    width: 1344px;
    transition: all .8s;
    min-height: 100px;
}


#overlay-main .img {
    margin: 0;
    width: 100%;
    z-index: 5;
    position: relative;
}

.img img {
    width: 100%;
    border-top-left-radius:  3px;
    border-top-right-radius:  3px;
    z-index: 5;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.4);
    transition: all .9s cubic-bezier(0.9, 0.46, 0.87, 1.04);
}

#author-block {
    padding-top: 4px;
    position: relative;
    background-color: #f6f4f1;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: -58px;
    margin-bottom: 0;
    height: 50px;
    transition: all .2s cubic-bezier(0.9, 0.46, 0.87, 1.04);
    z-index: 3;
    border-radius: 3px;
}

#author-block > div:first-child {
    width: 78.5%;
}

#author-button {
    width: 20%;
}

.author-hover {
    margin-top: -4px !important;
}

#author-block img {
    width: 12%;
    border-radius: 50%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    z-index: 3;
    overflow: hidden;
}

#author-block div {
    display: flex;
    z-index: 3;
    justify-content: flex-start;
    align-items: center;
}

#author-block .material-icons {
    font-size: 32px;
    margin-left: 2vw;

}

#overlay-main .line {
    position: relative;
    height: 2px;
    width: 90%;
    background-color: #816d65;
    border-radius: 1px;
    margin: 0 auto 10px auto;
}


#like-counter {
    transition: all 5s cubic-bezier(0, 1, 0.5, 1);
}

#like-button, #chat-button, #author-button {
    cursor: pointer;
}

#chat-button {
    margin-left: 2vw;
}


/*COMMENTS*/

#comment-block {
    position: relative;
    z-index: 0;
    transition: all .9s cubic-bezier(0.9, 0.46, 0.87, 1.04);
}

.comm-visible {
    animation:animate-comment-open 0.3s
}
.comm-hidden {
    animation:animate-comment-close 0.3s
}

@keyframes animate-comment-open {
    from {
        margin-top:-200px;
        opacity:0
    }
    to {
        margin-top:0;
        opacity:1
    }
}
@keyframes animate-comment-close {
    from {
        margin-top:0;
        opacity:1
    }
    to {
        margin-top:-200px;
        opacity:0
    }
}

#add-comment {
    margin: 15px 2vw;
    position: relative;
}

#comment-block form {
    display: flex;
    justify-content: space-between;
}

#comment-block input {
    width: 20%;
}

#comment-block textarea {
    outline: none;
    resize: none;
    width: 78%;
    color: #816d65;
}

/*COMMENT*/
#comment-list {
    margin: 10px 2vw;
    position: relative;
}

#comment-list .butt-next-button {
    width: 100%;
    letter-spacing: 2px;
}

#comment-list .butt-next-button:hover {
    width: 100%;
    letter-spacing: 4px;
}

#comment-list .line, #comment-block .line {
    width: 100%;
}

.comment > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 7px;
}

.comment {
    height: 0;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
    animation: slide-down 0.2s ease;
    transition: all .9s cubic-bezier(0.9, 0.46, 0.87, 1.04);
}


@keyframes slide-down {
    0% {
        opacity: .6;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.comment:not(:empty){
    height:auto;
}

.comment-text {
    font-size: 14px;
    color: #aa9e9a;
    letter-spacing: 1px;
    margin-top: 5px;

}

.comment-author {
    font-size: 18px;
}

.small-line {
    margin: 0 2vw 10px 2vw;
}

#endofdiv {
    position: relative;
    height: 1px;
    width: 100%;
}


@media (max-width: 1920px) {
    #overlay-main > div {
        margin: 100px 14.85vw;
        width: auto;
    }
}

@media (max-width: 992px) {
    #author-block img {
        width: 20%;
    }
    #comment-block textarea {
        border: solid 1px #816d65;
        width: 67%;

    }
    #comment-block input[type='submit'] {
        font-size: 2.4vw;
        letter-spacing: 0;
        width: 30%;
    }
    #comment-block input[type='submit']:hover {
        letter-spacing: 1px;
    }

    #author-block {
        margin-top: -4px !important;
    }
    #overlay-main > div {
        margin: 55px 0 0 0;
    }
    .img img {
        border-top-left-radius:  0;
        border-top-right-radius:  0;
    }
}

@media (max-width: 600px) {
    #author-block > div:first-child {
        width: 71.5%;
    }
    #author-button {
        width: 29%;
    }
}