#p-authorBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    color: #816d65;
}

#p-author {
    padding: 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 30px;
    color: #fff;
    background-color: #b2a6a2;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

#p-author > div {
    padding: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 22px;
    overflow: hidden;
}

#p-author >  img {
    box-shadow: 0 0 7px 1px rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 15%;
    padding: 0;
    margin: auto;
}

#p-authorBlock .line {
    width: 100%;
}

#p-butts {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.p-butt {
    cursor: pointer;
    text-align: center;
    width: 49%;
    padding: 7px 0;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #816d65;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.p-butt:hover {
    background-color: #816d65;
    color: #f6f4f1;
    letter-spacing: 4px;
}

.p-line {
    height: 2px;
    width: 100%;
    background-color: #816d65;
    border-radius: 1px;
    margin: 10px 0 7px 0;
}

.deleteIt {
    display: flex;
    color: transparent;
}

.deleteIt > div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.deleteIt p {
    margin: auto;
    font-size: 30px;
    letter-spacing: 2px;
}

.deleteIt .material-icons {
    margin: auto;
    font-size: 100px;
    color: transparent;

}

.photo .deleteIt {
    opacity: 0;
    position: relative;
    background-color: transparent;
    color: transparent;
    margin: -82% -5px 0 -5px;
    width: 103%;
    height: 200%;
    z-index: 0;
    transition: all .3s cubic-bezier(0.07, 0.64, 0.33, 1.01);
}


.photo:hover .deleteIt, .deletePhotoNode .deleteIt{
    opacity: 0.6;
    background-color: red;
    color: #fff;
}

.deleteIt:hover .material-icons, .deletePhotoNode .material-icons {
    color: #fff;
}

@media (max-width: 1920px) {
    .photo .deleteIt {
        margin: -83% -5px 0 -5px;
    }
    .deleteIt p {
        font-size: 1.5vw;
    }

    .deleteIt .material-icons {
        font-size: 6.5vw;
    }
}

@media (max-width: 992px) {
    .deleteIt p {
        font-size: 2.7vw;
    }

    .deleteIt .material-icons {
        font-size: 9.5vw;
    }
}

@media (max-width: 600px) {
    .photo .deleteIt {
        margin: -80% -5px 0 -5px;
    }
    .deleteIt p {
        font-size: 7vw;
    }

    .deleteIt .material-icons {
        font-size: 20.5vw;
    }
    #p-author {
        margin-bottom: 15px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
    }
    #p-author > div {
        font-size: 16px;
    }
    #p-butts {
        flex-direction: column;
    }
    .p-butt {
        width: 100%;
    }

}